
@using Microsoft.Extensions.Options
<!-- Needed for calling secret and publish keys -->
@inject IOptions<ILearnCoreV19.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .jumbotron {
        background-color: lightblue;
    }
</style>

<div class="container-fluid" style="margin-top: 200px; margin-left: 120px">
    <div class="row flex-row flex-nowrap">
        <div class="col-3">
            <div class="jumbotron" style="height: 350px; width: 300px; margin-left: -150px">
                <p style="font-size:50px">Silver</p>
                <p>1 month access to all classes</p>
                <p>Price - $25</p>
                <p>
                    <form asp-action="Charge"
                          asp-controller="User"
                          method="post"
                          asp-route-subscription="Silver">
                        <article>
                            <label>Amount: $25.00</label>
                        </article>
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="Buy Subscription">
                        </script>
                    </form>
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" style="height: 350px; width: 300px">
                <p style="font-size:50px">Platinum</pstyle="font:100>
                <p>6 month access to all classes</p>
                <p>Price - $60</p>
                <p>
                    <form asp-action="Charge"
                          asp-controller="User"
                          method="post"
                          asp-route-subscription="Platinum">
                        <article>
                            <label>Amount: $60.00</label>
                        </article>
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="Buy Subscription">
                        </script>
                    </form>
                </p>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" style="height: 350px; width: 300px; margin-left: 140px">
                <p style="font-size:50px">Golden</p>
                <p>1 year access to all classes</p>
                <p>Price - $100</p>
                <p><form asp-action="Charge" 
                      asp-controller="User"
                      method="post" 
                      asp-route-subscription="Golden">
                    <article>
                        <label>Amount: $100.00</label>
                    </article>
                    <script src="//checkout.stripe.com/v2/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="Buy Subscription">
                    </script>
                </form></p>
            </div>
        </div>
    </div>
</div>