@page
@model LoginModel

@{ViewData["Title"] = "Login"; }

<head>
    <style>
        @@media (max-width: 700px){
            
            .form-control { 
                width:150px;
                margin-left: -15px
            }
}
    </style>
</head>

<div class="row">
    <div class="col-md-10 offset-1">
        <h1>Internal Login</h1>
        <hr />
        <form id="account" method="post" style="margin-top: 50px">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
        </form>
    </div>
    <div class="col-md-10 offset-1">
        <h1>External Login</h1>
        <hr />
        @{ 
            if(Model.Input.ExternalLogins.Count == 0)
            {
                <div>No external logins available</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-controller="User" asp-route-returnurl="/User/Index">
                    <div>
                        @foreach (var provider in Model.Input.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Authentication using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial"></partial>
    }
